*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container {
    display: flex;
    width: 95%;
    height: 14vh;
    padding: 25px 5px 20px 100px;
    justify-content: space-between;
}

.header-container .header-menu {
    cursor: pointer;
}

.first-section {
    display: flex;
    height: 130vh;
    background-image: url(../IMG/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.first-text {
    padding-left: 100px;
    color: white;
}
.first-text h3 {
    font-size: 4rem;
    font-weight: normal;
    padding-top: 300px;
    margin-bottom: 0;
}

.first-text h1 {
    font-size: 6.5rem;
    font-family: 'Archivo Black';
    font-weight: 700;
    margin-top: 0;
}

hr {
    height: 10px;
    transform-origin: left center;
    margin: 30px 0 0 auto;
    background-color: white;
}

.first-imgs {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-top: 50px;
    color: white;
    text-transform: uppercase;
    justify-content: space-between;
}

.first-imgs img {
    width: 100px;
    height: 100px;
}

.help-section {
    background-color: #f2f2f2;
    height: 90vh;
    width: 100%;
    padding-top: 200px;
    text-align: center;
    color: black;
}

.help-section .help-text h4 {    
    font-size: 1.2rem;
    font-family: 'Roboto, Arial, Sans serif';
    font-weight: lighter;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.help-section .help-text h1 {
    font-size: 3rem;
    font-family: 'Roboto';
    font-weight: 800;
    text-transform: capitalize;  
    padding-bottom: 20px;  
}

.help-section .help-text p {
    font-size: 1.4rem;
    font-family: 'Open sans';
    font-weight: normal;
    padding-bottom: 25px;
}

.help-section .help-text input[type='button'] {
    background-color: #e71a23;
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    border: 10px solid #e71a23;
    border-radius: 5px;
    cursor: pointer;
}

.help-section .help-text input[type='button']:hover {
    color: red
    ;
}

.working-section {
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 70px;
    font-family: 'Roboto';
}
.working-section .working-one {
    width: 40%;
    align-items: center;
}

.working-section .working-one img {
    height: 400px;
    width: 500px;
    overflow: hidden;
}

.working-section .working-one p {
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 100px;
    font-size: 1rem;
    font-family: 'Open sans' serif;
    font-weight: lighter;
}

.working-section .working-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 0 220px 0 120px ;
}

.working-section .working-one h1 {
    font-size: 1.9rem;
    font-family: 'Roboto';
    font-weight: 700;
    padding-bottom: 25px;
    padding-top: 30px;
}

.working-section .working-one h2 {
    color: red;
    font-size: 1.9rem;
    font-weight: 700;
    padding-bottom: 30px;
}

.handy-man {
    background-color: #bdb8b8;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto';
}

.handy-man .working-row {
    display: flex;
    flex-direction: row;
}

.handy-man .handy-img {
    width: 45%;
    padding-left: 100px;
}

.handy-man .handy-img img {
    height: 700px;
    width: 500px;
}

.handy-man .handy-text {
    width: 50%;
    padding: 0 30px;
}

.handy-man .handy-text h1 {
    font-family: 'Roboto';
    font-size: 72px;
    font-weight: 800;
    color: #104e92;
    text-transform: uppercase;
    text-align: left;
    padding-top: 200px;
    padding-bottom: 30px;
}

.handy-man .handy-text hr {
    background-color: #e71a;
    width: 90%;
    padding-right: 50px;
    margin: 0 20px 10px 0;
}

.handy-man .handy-text p {
    font-size: 1.4rem;
    font-weight: lighter;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 20px;
}

.handy-man .handy-text input[type='button'] {
    background-color: #e71a23;
    padding: 10px 25px;
    color: white;
    text-transform: uppercase;
    border: 10px solid #e71a23;
    border-radius: 5px;
    cursor: pointer;
}

.handy-man .handy-text input[type='button']:hover {    
    color: red;    
}

.services {
    background-color: white;
    width: 100vw;
    height: 80vh;
    padding: 50px 100px;
    font-family: 'Roboto';
}

.services .services-text h3 {
    text-transform: capitalize;
    font-size: 3.2rem;
    font-weight: 600;
}

.services .service-imgs {
    height: 300px;
    width: 300px;
}

.service-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    background: #e71a23;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: #e71a23;
    margin: 70px 0 20px 0;
}

.second-set h4 {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 3px 15px;
}

.second-set p {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: lighter;
}

.about-us {
    height: 90vh;
    width: 100vw;
    margin: auto;
    padding: 0 20px;
    background-color: #104e92;
}

.about-us .third-set {
    width: 55%;
    padding: 200px 15px ;
    text-align: right;
}

.about-us .third-imgs {
    width: 35%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 15px;
   
}

.about-us .third-imgs img {
    height: 200px;
    width: 200px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 25px;
}

.about-row {
    display: flex;
    flex-direction: row;
}

.third-set {
    color: #FFFFFF;
    font-family: 'Roboto';
}
.third-set h5 {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: lighter;
    text-transform: uppercase;
    padding-right: 300px;
}

.third-set h1 {
    font-size: 5rem;
    font-weight: 900;
    text-transform: capitalize;
    padding-right: 125px;
}

.third-set h2 {
    font-size: 6rem;
    font-weight: 500;
    text-transform: capitalize;
    padding-right: 20px;
}

.to-do {
    height: 100vh;
    width: 100vw;
    background-color: #FFFFFF;
    text-align: center;
    padding: 100px 0;
}

.to-do .fourth-text h2 {
    font-family: 'Roboto';
    font-size: 2.5rem;
    padding-bottom: 30px;
}

.to-do .fourth-text p {
    font-family: 'Open-sans';
    font-size: 2rem;
    font-weight: lighter;
    padding-bottom: 30px;
}

.to-do .fourth-button input[type='button'] {
    background-color: #e71a23;
    padding: 10px 25px;
    color: white;
    text-transform: uppercase;
    border: 10px solid #e71a23;
    border-radius: 5px;
    cursor: pointer;
}

.to-do .fourth-button input[type='button']:hover {
    color: red;
}

.to-do .fourth-button input[type='button']:nth-child(2) {
    background-color: #FFFFFF;
    padding: 18px 35px;
    color: black;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}


@media (max-width: 769px) {

    .header-container {
        padding: 10px 5px 20px 100px;
        
    }
/* house repair */
    .first-text h3 {
        font-size: 2rem;
        font-weight: normal;
        margin-top: 30px;
    }
    
    .first-text h1 {
        font-size: 5rem;
        font-family: 'Archivo Black';
        font-weight: 700;
        margin-top: 5px;
    }
    
    hr {
        height: 10px;
        transform-origin: left center;
        margin: 30px 100px 0 20px;
        background-color: white;
        width: 400px;
    }

    .first-section {
        display: flex;
        height: 130vh;
        background-image: url(../IMG/hero-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        /*background-position: 81.49% 50%;*/
        background-position: 34.74% 0;
    }
    /* .first-imgs {
        display: none;
    } */

    .first-text {
        padding-left: 50px;
    }


    .first-text h3 {
        padding-top: 120px;
    }

    .first-imgs {
        width: 100%;
    }

    .first-imgs img {
        width: 70px;
        height: 70px;
    }

    .first-set {
        margin-right: 24px;
    }

    .second-set p {
        font-size: smaller;
    }

    .working-section .working-row {
        flex-direction: column;
    }

    
    .handy-man .working-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .handy-man .handy-img {
        padding-left: 0;
    }

    .handy-img img {
        width: 100%;
        height: auto;
    }

    .handy-man {
        height: 100%;
        width: 100vw;        
    }

    .handy-man .handy-text hr {
        background-color: #e71a23;
    }

    .handy-man .handy-text {
        padding-left: 20px;
        padding-top: 60px;
    }

    .handy-man .handy-text h1 {
        font-size: 60px;
    }

    .handy-man .handy-text p {
        font-size: 18px;
        padding-top: 30px;
    }

    .handy-text {
        padding-left: 100px;
    }

    button {
        background: #e71a23;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: #e71a23;
        margin: 70px 0 10px 0;
    }

    .second-set p {
        font-size: 1.1rem;
    }

    .third-set h5 {
        letter-spacing: 2px;
        font-size: 0.8rem;
    }

    .adjust-row {
        display: flex;
        flex-direction: row;
    }

    .about-us .about-row {
        display: flex;
        align-content: center;
    }

    .about-us .third-imgs {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .about-us .third-set {
        width: 100%;
        padding: 200px 15px;
        text-align: right;
    }
     
    .about-us .third-set {
        width: 100%;
        text-align: justify;
    }

    .to-do .fourth-text h2 {
        font-size: 2.2rem;
    }

    .to-do .fourth-text p {
        font-size: 1.8rem;
    }

    .help-section {
        padding-top: 100px;
    }

    .help-section .help-text p {
        font-size: 1.1rem;
    }

    .working-section .working-one {
        width: 100%;       
    }

    .working-one p {
        padding-bottom: 30px;
    }
    
}